@import "normalize.css";
@import "base/_mixins";
$mainBlue: #E100FF;
.name{
    border: 2px solid $mainBlue;
    
    &-tori{
        padding: inherit;
        
        @mixin atSmall{
            padding: inherit;
            padding-bottom: 0;
            padding-right: 12;
        }
    }
    
    
}
