.btn{
	background-color: $mainBlue;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--outline-none {
		background-color: none;
		border:0.8px solid #FFF;
		color:#FFF;
		border-radius: 5px;

		&:hover
		{
			color:#46ACC8;
		}
	}


}