.hero {
	border:2px solid $testDivColor;
	background-color: #2f5572;
	height: 500px;
	color:#FFF;
	

	
	&__text-content{
		text-align: center;
		border:$testBorder;
		position:relative;
		width: 900px;
		margin:100px auto;
	}

	&__title{
		color: teal;
		font-size: 2.5rem;
		font-weight: 300;
	}

	&__description{
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 2rem;
	}

}