.progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top:10px;

    &-bar{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    color: #fff;
	    text-align: center;
	    background-color: #007bff;
	    transition: width .6s ease;
	    padding:10px 0 ;
    }
}
