.row{

	@mixin clearfix;
	

	

	& > div {
		padding: 20px;
		
	}

/*==== GRID BAR of 12 ==== */
/*==== column ==== */
	&__4{
		
		width: 33.33%;
		float: left;

	}

	&__7{
		width:58.33%;
		float: left; 
	}
	
	&__5{
		
		width: 41.66%;
		float: left;

	}

}